html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background: #fff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: "Coda", cursive;
}

/*
 * Dynamic css styling for card & deck
 */

 /* Phone Style */
 @media only screen and (max-width: 440px) {
   .deck {
     width: 330px;
     min-height: 340px;
     padding: 12px;
   }
   .deck .card {
       height: 85px;
       width: 85px;
       margin: 15px;
     }
 }

 /* Tablet Styles */
 @media only screen and (min-width: 441px) and (max-width: 659px) {
   .deck {
     width: 440px;
     min-height: 460px;
     padding: 20px;
   }
   .deck .card {
       height: 85px;
       width: 85px;
     }
 }

 /* Desktop Styles */
 @media only screen and (min-width: 660px) {
   .deck {
     width: 660px;
     min-height: 680px;
     padding: 32px;
   }
   .deck .card {
       height: 125px;
       width: 125px;
     }
 }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Arvo", serif;
    font-weight: bold;
}

 /*
  * Styles for the deck of cards
  */

.deck {
  display:flex;
  flex-wrap:wrap;
    background: linear-gradient(160deg, #0cb 0%, #a7c 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
  display:flex;
  flex-wrap:wrap;
    background: #234;
    font-size: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #0be;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #0cb;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    float: right;
    margin: 0 0 0 15px;
}
